// Styling of header component


.header
  margin-top 3rem
  max-width 500px
  max-height: 150px
  position relative
  margin-bottom: 6rem

  h1
    color red
    font-weight 700
    font-style italic
    font-size font-xl-d
    margin 0
    padding 0

  h4
    color offwhite
    font-size font-m-d
    margin-top: -15px
    height auto
    position: absolute
    left -73px
    font-weight: 300
    font-style: italic

    span
      font-style: italic
      font-weight: 700


@media (max-width 600px)
  .header
    margin-top: 2rem
    width: auto
    h1
      font-size: font-xl-m
      text-align: center

    h4
      font-size: font-m-m
      margin-top: -10px
      left: -54px